
<%= simple_form_for(article, method: method_name,  html: { multipart: true }, url: url, defaults: {input_html: {class: 'default_class' } }) do |f| %>
  <%= f.input :title %>
  <p class="title-error hidden validation-text">Min length 5 symbols</p>
  <%= f.input :text %>
  <%= f.file_field :image %>

  <%= f.submit action_name, class: "btn btn-primary" %>
<% end %>