<h1>Hello, Rails!</h1>

<%=  form_tag(articles_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= submit_tag("Search") %>
<% end %>
  <% @articles.each do |article|%>
    <div class="row article" data-article-id="<%=article.id %>">
    <h1><%= article.title %></h1>
    <p><%= article.text %></p>
    <p><%= article.rating %></p>
    <div>
      <%= link_to 'Rate', new_article_rating_path(article) %>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Show', article_path(article) %>
      <%= link_to 'Destroy', 'javascript:void(0)', class: 'remove-article-btn' %>

      <span class="badge badge-success">Posted  create <%= article.created_at %></span>
      <div class="pull-right">
    </div>
    </div>
    <hr>
    </div>
  <% end %>




<% @list_ip.each do |ip, articles| %>
  <tr>
    <td>
      <%= ip %>
    </td>
    <td>
      <% articles.each do |article|   %>
        <p>
          <%= article.user.email %>
        </p>
      <% end %>
    </td>
  </tr>

<% end %>