

<h1>Hello, Rails!</h1>

<%=  form_tag(articles_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= submit_tag("Search") %>
<% end %>

<div class="container main">
  <% @articles.each do |article|%>




    <div class="row">
      <div class="span8">
        <h4><strong><%= link_to article.title, article_path(article) %></strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
        </a>
      </div>
      <div class="span10">
        <p><%= article.text %></p>
        <p><%= link_to 'More ...', article_path(article), class: 'btn' %></p>
      </div>
    </div>

  <% end %>
  <%= paginate @articles %>
</div>
<% @list_ip.each do |ip, articles| %>
  <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
    <div class="card card-inverse card-info">
      <img class="card-img-top" src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif">
      <div class="card-block">
        <figure class="profile profile-inline">
          <img src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" class="profile-avatar" alt="">
        </figure>
        <h4 class="card-title">Tawshif Ahsan Khan</h4>
        <div class="card-text">
          Tawshif is a web designer living in Bangladesh.
        </div>
      </div>
      <div class="card-footer">
        <small>Last updated 3 mins ago</small>
        <button class="btn btn-info float-right btn-sm">Follow</button>
      </div>
    </div>
  </div>

<% end %>