<h1><%= @article.title %></h1>
<p><%= @article.text %>
<%= image_tag @article.image.url(:large), class: 'image-show' if @article.image? %>
<h2>Add a comment:</h2>
<h2>Comments</h2>
<div id="article-comments">
  <%= render @article.comments %>
</div>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>