<h1>edite page</h1>


<%= simple_form_for(@page, method: :post, url: page_index_path,  defaults: { input_html: { class: 'default_class' } }) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>

  <%= f.submit "Add drink", class: "btn btn-primary" %>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>