<h1>Hello, Rails!</h1>



  <% @pages.each do |page|%>
    <div class="row">
    <h1><%= page.name %></h1>
    <p><%= page.description %></p>
    <div>
      <%= link_to 'Edit', edit_page_path(page) %>
      <%= link_to 'Show', page_path(page) %>
      <%= link_to 'Destroy', page_path(page),
                  method: :delete,
                      data: { confirm: 'Are you sure?' } %>

      <span class="badge badge-success">Posted  create <%= page.created_at %></span><div class="pull-right">

    </div>
    </div>
    <hr>
    </div>
  <% end %>

